<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">
    <h2 class='heading'><span>通知一覧</span></h2>

    <div class='container'>
      <div class='row'>
        <div class='col-11 mx-auto'>
          <%= render 'feed', notifications: @notifications%>
        </div>
      </div>
    </div>
  </div>

</div>
