<%= render 'shared/sidenav' %>

<div class="container dashboard-container">
  <div class="jumbotron">
    <%= render 'shared/notification' %>

    <div class="container">

      <div class="mt-5 checked-projects">
        <h2> 実行予定のProject </h2>
        <% if @checked_active_reservations.present? %>
          <small>日時をお間違えのないようご確認ください</small>
          <%= render 'reservations/feed', reservations: @checked_active_reservations %>
        <% else %>
          <p>実行予定のProjectはございません</p>
        <% end %>
      </div>

    <footer>
        Repository maintained by <a href="https://github.com/mladenplavsic">mladenplavsic</a>
    </footer>
  </div>

</div>
