<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">
    <%= render 'shared/notification' %>

    <footer>
        Repository maintained by <a href="https://github.com/mladenplavsic">mladenplavsic</a>
    </footer>
  </div>

</div>
