<%= render 'shared/sidenav' %>

<div class='container'>

  <div class='jumbotron'>

    <h2 class='heading'><span>ユーザー設定</span></h2>

    <div class='row'>

      <div class='edit-form col-9 mx-auto pt-5'>


      </div>

    </div>
  </div>
</div>
