<div class="mb-5 row">
  <div class='col-md-6 text-center mt-3'>
    <p>予約実績</p>
    <h4><%= record %>件</h4>
  </div>
  <div class='col-md-6 text-center mt-3'>
    <p class='text-center'>平均評価</p>
    <% if rate.nil? %>
      <div class="stars" style="--rating: 0;"></div>
      <p class='mt-2'>まだ評価はございません</p>
    <% else %>
      <div class="stars" style="--rating: <%= rate %>;"></div>
      <p class='mt-2'><%= rate %>点</p>
    <% end %>
  </div>
</div>