<% if current_user %>
  <%= render 'shared/sidenav' %>
<% else %>
  <%= render 'shared/not_sign_in_sidenav' %>
<% end %>

<div class="container">
  <div class="jumbotron">

    <div class="container">
      <div class="text-center mb-5">
        <h2 class="display-20 display-md-18 display-lg-16"> <%= @category.name %></h2>
      </div>
      <%= render 'feed', projects: @projects, detail: true %>
    </div>
  </div>

</div>