<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">

    <%= render 'shared/notification' %>

    <div class="btn-toolbar mb-2 mb-md-0">
      <%= link_to new_project_path do %>
        <button type="button" class="btn btn-info mr-3">new project</button>
      <% end %>
    </div>

    <div class="container">
      <div class="text-center mb-5">
        <h2 class="display-20 display-md-18 display-lg-16">Most recent our blog</h2>
      </div>
      <%= render 'feed', projects: @projects, detail: false %>
    </div>
  </div>

  <footer>
      Repository maintained by <a href="https://github.com/mladenplavsic">mladenplavsic</a>
  </footer>

</div>