<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">
    <section id="project-form" class="padding-top-bottom">
      <div class="container">
        <div class="row">
          <%= render 'form', project: @project %>
        </div>	
      </div>	
    </section>
  </div>
</div>

