<% if current_user %>
  <%= render 'shared/sidenav' %>
<% end %>

<div class="container">
  <div class="jumbotron">
    <section id="project-show" class="padding-top-bottom">
      <%= render 'shared/notification' %>
    </section>
  </div>
</div>
