/*=== sign_in ===*/

.body-sessions {
  font-family: "Lato", sans-serif;
}

.main-head{
  height: 150px;
  background: #FFF;
}

.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
  padding-bottom: 70px;
  .option-links{
    padding-top: 20px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .form-container{
      margin-top: 80px;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 50%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .form-container{
      margin-top: 100px;
  }
}


.main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}

.signup-main{
  padding-bottom: 50px;
}
