<%= render 'shared/sidenav' %>

<div class="container">
  <div class="jumbotron">
    <%= render 'shared/notification' %>

    <%= render 'form', project: project, reservation: new_reservation %>
  </div>
</div>
